.container {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: saturate(250%) blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    height: 50px;
    object-fit: contain;
    width: 50px;
    margin-right: 20px;
}

.name {
    font-family: var(--heading);
    font-size: 20px;
}

.nav {
    margin-top: 10px;
}
.linkContainer {
    display: flex;
    justify-content: center;
    margin-left: -8px;
}

.link {
    margin-left: 8px;
    transition: color 0.2s;
    padding: 9px 20px;
    border: 2px solid transparent;

    &:hover {
        color: var(--primary);
    }

    &.isActive {
        color: #daa520;
    }
    &.border {
        border-color: currentColor;
        border-radius: 8px;
    }
}
