.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.footer {
    border-top: 1px solid grey;
    padding: 30px 10px;
}

.text {
    color: grey;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 12px;
    color: grey;
}
