.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container {
    border-top: 1px solid grey;
    margin: 30px 0px;
}

.text {
    padding: 0px 100px;
    color: grey;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 12px;
    color: grey;
}
