@import 'breakpoints';
@import 'placeholders';

.container {
    @extend %grid;

    margin-top: 20px;
}

.columnLeft {
    grid-column: 1 / -1;

    @media (min-width: $lg) {
        grid-column: 1 / 4;
    }
}

.columnRight {
    grid-column: 1 / -1;

    @media (min-width: $lg) {
        grid-column: 5 / -1;
    }
}

.button {
    background-color: #daa520;
    color: white;
    text-align: center;
    height: 20px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
}
