.heading,
.section {
    margin-top: 20px;
}

.colors {
    display: flex;
    margin-top: -5px;
    margin-left: -5px;

    & > * {
        margin-top: 5px;
        margin-left: 5px;
        padding: 5px;
    }
}

.types {
    & > *:not(:first-child) {
        margin-top: 10px;
    }
}
