.outer {
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
}

.inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
