@import './reset.scss';
@import './colors.scss';
@import './containers.scss';
@import './typography.scss';

:root {
    // Colors
    --black: #000000;
    --grey: #86868b;
    --white: #fbfbfd;
    --link: #0066cc;

    --primary: #598000;
    --secondary: #e60036;

    // Fonts
    --heading: 'Fugaz One', 'Times New Roman', serif;
    --body: 'Nunito', 'Arial', sans-serif;
}

html,
body {
    font-family: var(--body);
    font-size: 18px;
    color: var(--black);
    background: var(--white);
}
