@import './reset.scss';
@import './colors.scss';
@import './containers.scss';
@import './typography.scss';

:root {
    // Colors
    --black: #000000;
    --grey: #86868b;
    --white: #fbfbfd;
    --link: #0066cc;

    --primary: #598000;
    --secondary: #e60036;

    // Fonts
    --heading: 'Fugaz One', 'Times New Roman', serif;
    --body: 'Nunito', 'Arial', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--body);
    font-size: 18px;
    color: var(--black);
    background: var(--white);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}
