%h1 {
    font-family: var(--body);
    font-size: 48px;
    font-weight: 700;
}

%h2 {
    font-family: var(--body);
    font-size: 36px;
    font-weight: 700;
}

%h3 {
    font-family: var(--body);
    font-size: 24px;
    font-weight: 700;
}

%subtitle {
    font-family: var(--body);
    font-size: 24px;
    font-weight: 400;
}

%body {
    font-family: var(--body);
    font-size: 18px;
    font-weight: 400;
}

%button {
    font-family: var(--body);
    font-size: 18px;
    font-weight: 600;
}

%label {
    font-family: var(--body);
    font-size: 16px;
    font-weight: 700;
}

.t-h1 {
    @extend %h1;
}

.t-h2 {
    @extend %h2;
}

.t-h3 {
    @extend %h3;
}

.t-subtitle {
    @extend %subtitle;
}

.t-body {
    @extend %body;
}

.t-button {
    @extend %button;
}

.t-label {
    @extend %label;
}

.t-center {
    text-align: center;
}

// Forms
input,
textarea {
    @extend %body;
}

button,
select,
label,
.button {
    @extend %button;
}
