.title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #3e3f43;
}

.title::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #3e3f43;
}

.container {
    display: flex;
    align-items: center;
    color: #3e3f43;
}

.myImage {
    border: 2px solid #f7dea6;
    border-radius: 0px 120px 0px 120px;
    background-color: #f7dea6;
    width: 344px;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption {
    width: 436px;
    margin-bottom: 20px;
}

.subtitle {
    width: 436px;
    margin-top: 20px;
}

.text {
    margin-left: 100px;
}
